

<div class="home-title">
    <h1 class="home-title-title">Ferramentas online para os inimigos de PDF</h1>
    <h2 class="dale">Ferramenta online e completamente gratuita para juntar PDF, dividir PDF, comprimir PDF, converter documentos Office para PDF, conversão de PDF para JPG, e JPG para PDF. Faz poha toda.</h2>
</div>

<%= render "home/actions" %>